body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #0c70aec1;
    padding: 20px 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .container {
    width: 80%;
    margin: auto;
  }
  
  .profile {
    text-align: center;
  }
  
  .profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }
  
  .summary {
    text-align: center;
  }
  
  .about-section {
    background-color: #f4f4f4;
    padding: 50px 0;
  }
  
  .about-section h2 {
    text-align: center;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  .projects-section {
    background-color: #f9f9f9;
    padding: 50px 0;
  }
  
  .projects-section .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .project {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: calc(33.33% - 20px); /* Adjust the width as needed */
  }
  
  .project h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .project p {
    color: #666;
    font-size: 1em;
    line-height: 1.5;
  }
  
  .project-link {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }
  
  .project-link:hover {
    background-color: #0056b3;
  }
  
  